{erl_opts, [
   {parse_transform, lager_transform}
]}.

{deps, [
   {lager, ".*",
      {git, "https://github.com/basho/lager", {tag, master}}
   }

  ,{restd, ".*",
      {git, "https://github.com/kfsm/restd", {branch, 'websocket-handler'}}
   }

  ,{semantic, ".*",
      {git, "https://github.com/fogfish/semantic", {branch, master}}
   }

  ,{elasticlog, ".*",
      {git, "https://github.com/fogfish/elasticlog", {branch, master}}
   }

  ,{elasticnt, ".*",
      {git, "https://github.com/fogfish/elasticnt", {branch, master}}
   }

  ,{uid, ".*",
      {git, "https://github.com/fogfish/uid", {branch, master}}
   }
]}.
