{erl_opts, [
   {parse_transform, lager_transform}
]}.

{deps, [
   lager,

   {elasticlog, ".*",
      {git, "https://github.com/fogfish/elasticlog", {branch, 'support-spock-only'}}
   },

   {knet, ".*",
      {git, "https://github.com/fogfish/knet", {branch, 'release-3'}}
   },

   {restd, ".*",
      {git, "https://github.com/kfsm/restd", {branch, master}}
   },

   {clue, ".*",
      {git, "https://github.com/fogfish/clue", {branch, master}}
   },

   {esq, ".*",
      {git, "https://github.com/fogfish/esq", {branch, master}}
   },

   {pts, ".*",
      {git, "https://github.com/fogfish/pts", {branch, master}}
   }
]}.
