{erl_opts, [
   {parse_transform, lager_transform}
]}.

{deps, [
   lager,

   {elasticlog, ".*",
      {git, "https://github.com/fogfish/elasticlog", {branch, master}}
   },

   {restd, ".*",
      {git, "https://github.com/kfsm/restd", {branch, master}}
   },

   {clue, ".*",
      {git, "https://github.com/fogfish/clue", {branch, master}}
   },

   {esq, ".*",
      {git, "https://github.com/fogfish/esq", {branch, master}}
   },

   {pts, ".*",
      {git, "https://github.com/fogfish/pts", {branch, master}}
   },

   {permit, ".*",
      {git, "https://github.com/fogfish/permit", {branch, master}}
   },

   {s3am, ".*",
      {git, "https://github.com/fogfish/s3am", {branch, master}}
   }
]}.
