[

%%
%% logger config
{lager, [
   {handlers, [
      {lager_console_backend, [error, {lager_default_formatter, [time, " [",severity,"] ", message, "\n"]}]}
     ,{lager_file_backend,    [{file, "log/access.log"}, {level, none}, {formatter, lager_default_formatter},{formatter_config, [date, " ", time, " ", message, "\n"]}]}
   ]},
   {traces, [
      {{lager_file_backend, "log/access.log"}, [{module, knet_http}], notice}
   ]}
]},

%%
%%
{restd, [
   {default, [
      {port,  "http://*:8080"},
      {pool, 10},
      {route, [
         %%
         %% deduct facts using implicit logical program 
         {"/pin/:id",           hercule_datalog},
         {"/pin/:id/live/:ns",  hercule_live},
         {"/pin/:id/snap/:ns",  hercule_snap},

         %%
         %% deduct facts
         {"/entity/:id/:ns/:urn", hercule_entity},

         %%
         %% deduct facts using explicit logical program
         {"/datalog/snap/:ns",    hercule_snap_q},
         {"/datalog/live/:ns",    hercule_live_q},

         
         %%
         %% executes facts transaction against data storage
         {"/fact/:ns",            hercule_fact},
         {"/fact/:ns/:action",    hercule_fact}
      ]}
   ]}
]},

%%
%%
{hercule, [
   %%
   {storage,  "http://docker:9200"},

   %%   
   {ns,   [
      hercule
   ]}
]}


].