[

%%
%% logger config
{lager, [
   {handlers, [
      {lager_console_backend, [{level, info}]}
   ]}
]},

%%
%%
{clue, [
   %% dump KPI every 60 seconds to console
   {logger,  30000}
]},


%%
%%
{hercule, [
   {port, "http://*:8080"},
   {storage,  {env, "HERCULE_STORAGE", "http://localhost:9200"}}
]},

%%
%%
{infusion, [
   {storage,  {env, "HERCULE_STORAGE", "http://localhost:9200"}},
   {streams,  {env, "HERCULE_STREAM_FS", "/tmp/infusion"}}
]}

].