[

%%
%% logger config
{lager, [
   {handlers, [
      {lager_console_backend, [{level, info}]}
   ]}
]},

%%
%%
{clue, [
   %% dump KPI every 60 seconds to console
   {logger,  30000}
]},


%%
%%
{hercule, [
   {storage,  "http://localhost:9200"},

   %%   
   {ns,   []}
]},

%%
%%
{infusion, [
   {storage,   "http://localhost:9200"},
   {streams,   "/tmp/infusion"}
]}

].