@import "../node_modules/dress-code/dist/css/dress-code.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

.dc-row
{
   margin-top: 2em;
}

.dc-tab__element--right
{
  float: right;
}

.dc-tab__element--right input
{
   margin-bottom: 0;
   width: 24em;
}

.dc-textarea 
{
   font: fixed;
   font-size: 0.9em;
}

a
{
   color: #26aafe;
   text-decoration: none;
}
